@font-face {
    font-family: 'super-legend-boy';
    src: url('../fonts/SuperLegendBoy.ttf');
}

* {
    user-select: none;
}

body {
    margin: 0;
}

.disNone {
    display: none !important;
}

.canvas-cont {
    width: 80vw;
    height: 45vw;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.canvas-cont .touch-control.left, .canvas-cont .touch-control.right {
    display: none;
}

.canvas-cont canvas {
    position: relative;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: fit-content;
    margin: 10px auto 0px auto;
}

h1 {
    display: none;
    font-family: Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

canvas {
    display: block;
    background-color: black;
}

#audio-player {
    display: none;
}

.touch-controls {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px auto;
    position: absolute;
    top: -21%;
    left: 0;
    z-index: 10;
}

.touch-controls .touch-controls-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
}

.touch-controls .running-controls {
    display: none;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.touch-controls.shown {
    animation: show-touch-controls 0.5s linear;
    top: -9%;
}

.touch-controls.hidden {
    animation: hide-touch-controls 0.5s linear;
    top: -21%;
}

.touch-controls .show-hide-touch-controls {
    width: 100%;
    height: 5px;
    background-color: red;
}

@keyframes show-touch-controls {
    0% {
        top: -21%;
    }

    100% {
        top: -9%;
    }    
}

@keyframes hide-touch-controls {
    0% {
        top: -9%;
    }

    100% {
        top: -21%;
    }    
}

.canvas-cont .touch-control.left, .canvas-cont .touch-control.right {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
}

.canvas-cont .touch-control.jump {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.canvas-cont .touch-control.left {
    left: 0;
}

.canvas-cont .touch-control.right {
    right: 0;
}

.touch-controls.run.pressed svg rect {
    fill: blue !important;
}

.volumebar-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
}

.volumebar-cont .volumebar {
    width: 50px;
    height: 30px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background-color: black;
}

.volumebar-cont .volumebar .volumebar-inner {
    width: 50%;
    height: 100%;
    background-color: orange;
}

.mute-game {
    width: 40px;
    height: 40px;
    background-image: url('../graphics/controls/speaker.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.mute-game.muted {
    background-image: url('../graphics/controls/speaker-dashed.svg');
}

.turn-fullscreen-on, .turn-fullscreen-off {
    width: 40px;
    height: 40px;
    background-image: url('../graphics/controls/fullscreen-on.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.turn-fullscreen-off {
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url('../graphics/controls/fullscreen-off.svg');
    background-color: white;
    border-radius: 100%;
}

.pause-game {
    width: 30px;
    height: 30px;
    background-image: url('../graphics/controls/pause-game.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.pause-game.paused {
    background-image: url('../graphics/controls/play-game.svg');
}

@media only screen and (max-width: 800px) {
    .touch-controls {
        display: flex;
    }

    .controls {
        display: none;
    }

    .canvas-cont .touch-control.left, .canvas-cont .touch-control.right {
        display: block;
    }
}