@font-face {
    font-family: 'super-legend-boy';
    src: url('../fonts/super-legend-boy.ttf');
}

@font-face {
    font-family: 'space-armor';
    src: url('../fonts/space-armor.otf');
}

@font-face {
    font-family: 'nexion';
    src: url('../fonts/nexion.otf');
}

* {
    user-select: none;
}

body {
    margin: 0;
}

h1, h2 {
    font-family: 'space-armor', Verdana, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 15px;
}

p {
    font-family: 'nexion', Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    margin: 0;
}

.disNone {
    display: none !important;
}

.canvas-cont {
    width: 80vw;
    height: 45vw;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.canvas-cont .touch-control.left,
.canvas-cont .touch-control.right {
    display: block;
}

.canvas-cont canvas {
    display: block;
    background-color: black;
    position: relative;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: fit-content;
    margin: 10px auto 0px auto;
}

#audio-player {
    display: none;
}

.touch-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px auto;
    position: absolute;
    top: -21%;
    left: 0;
}

.touch-controls-top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
}

.touch-controls .running-controls {
    display: block;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.touch-controls.shown {
    animation: show-touch-controls 0.5s linear;
    top: -9%;
}

.touch-controls.hidden {
    animation: hide-touch-controls 0.5s linear;
    top: -21%;
}

.touch-controls .show-hide-touch-controls {
    width: 100%;
    height: 5px;
    background-color: red;
}

@keyframes show-touch-controls {
    0% {
        top: -21%;
    }

    100% {
        top: -9%;
    }
}

@keyframes hide-touch-controls {
    0% {
        top: -9%;
    }

    100% {
        top: -21%;
    }
}

.canvas-cont .touch-control.left,
.canvas-cont .touch-control.right {
    width: 25%;
    height: 80%;
    position: absolute;
    top: 0;
    background-color: transparent;
}

.canvas-cont .touch-control.jump {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.canvas-cont .touch-control.shoot {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.canvas-cont .touch-control.left {
    left: 0;
}

.canvas-cont .touch-control.right {
    right: 100%;
}

.canvas-cont .touch-controls-top .shoot,
.canvas-cont .touch-controls-top .run,
.canvas-cont .touch-controls-top .volumebar,
.canvas-cont .touch-controls-top .mute-game,
.canvas-cont .touch-controls-top .turn-fullscreen-on,
.canvas-cont .touch-controls-top .turn-fullscreen-off,
.canvas-cont .touch-controls-top .pause-game {
    width: calc(100%/6);
    background-size: auto 100%;
    align-items: center !important;
}

.canvas-cont .touch-controls svg {
    width: 100% !important;
}

.canvas-cont .touch-control.right {
    right: 0;
}

.canvas-cont .canvas-cont-controls-toggle {
    width: calc(6.25%/3);
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5000;
    cursor: pointer;
}

.canvas-cont .controls {
    justify-content: space-evenly;
    width: calc(100% - 6.25%/3);
    background-color: white;
    position: absolute;
    bottom: calc(3*6.25%/8);
    left: calc(6.25%/6);
    z-index: 4999;
}
.canvas-cont .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
}

.canvas-cont .menu-bar > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.canvas-cont .menu-bar p {
    color: white;
    font-size: 150%;
}

.canvas-cont .menu-bar .life-amount {
    width: 40%;
    height: 100%;
    justify-content: flex-start;
    column-gap: 5%;
}

.canvas-cont .menu-bar .life-amount .life-amount-bar {
    width: 50%;
    height: 10%;
    border: 1px solid white;
}

.canvas-cont .menu-bar .life-amount .life-amount-bar .life-amount-bar-inner {
    height: 100%;
    background-color: red;
}

.canvas-cont .menu-bar .special-ammo {
    width: 30%;
    height: 100%;
}

.touch-controls.run.pressed svg rect {
    fill: blue !important;
}

.volumebar-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
}

.volumebar-cont .volumebar {
    width: 50px;
    height: 30px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background-color: black;
}

.volumebar-cont .volumebar .volumebar-inner {
    width: 50%;
    height: 100%;
    background-color: orange;
}

.mute-game {
    width: 40px;
    height: 40px;
    background-image: url('../graphics/controls/speaker.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.mute-game.muted {
    background-image: url('../graphics/controls/speaker-dashed.svg');
}

.turn-fullscreen-on,
.turn-fullscreen-off {
    width: 40px;
    height: 40px;
    background-image: url('../graphics/controls/fullscreen-on.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.fullscreen-on-svg, .fullscreen-off-svg {
    width: 100%;
    height: 100%;
}

/* .turn-fullscreen-off {
    position: absolute;
    top: 30px;
    right: 30px;
    background-image: url('../graphics/controls/fullscreen-off.svg');
    background-color: white;
    border-radius: 100%;
    z-index: 5000;
} */

.pause-game {
    width: 30px;
    height: 30px;
    background-image: url('../graphics/controls/pause-game.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.pause-game.paused {
    background-image: url('./graphics/controls/play-game.svg');
}

.you-win-screen, .game-over-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.8);
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
}

.you-win-screen h1, .game-over-screen h1 {
    margin: 0;
    padding: 0;
}

.open-description, .close-description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2%;
    aspect-ratio: 1 / 1;
    background-color: rgba(0 0 0 / 0.8);
    position: absolute;
    left: 2.8125%;
    top: 5%;
    border-radius: 100%;
    z-index: 10;
}

.close-description img {
    width: 80%;
    height: auto;
}

.open-description p {
    color: white;
    margin: 0;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 88%;
    min-height: 10%;
    max-height: 50%;
    overflow: hidden scroll;
    background-color: white;
    position: absolute;
    top: 6%;
    left: 6%;
    z-index: 9;
    padding: 1% 0;
}

.description .description-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 80%;
}

.description p, .description h2 {
    text-align: center;
}

.description h2 {
    margin: 0 0 2% 0;
}

.description p:nth-child(2) {
    margin-bottom: 1%;
}

@media only screen and (max-width: 800px) {
    .touch-controls {
        display: flex;
    }

    .controls {
        display: flex;
    }

    .canvas-cont {
        width: 100vw;
        height: 56.25vw;
    }

    .canvas-cont .touch-control.left,
    .canvas-cont .touch-control.right {
        display: block;
    }
}